<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <script src="/js/app.js"></script>
        <h1>Hello Evervyone this is a {{title}}</h1>
        <h2>{{name}}</h2>
    </body>
</html>